<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <property name="LOG_HOME" value="${user.home}/logs"/>
    <property name="APP_LOG" value="${LOG_HOME}/app.log"/>

    <!-- 
appender : 로그의 출력 방식을 정의하는 요소
layout : 로그 메시지의 형식을 지정하는 요소
logger : 로그 메세지 전달자
level : 로그의 심각도 수준 (TRACE(세부 정보) < DEBUG(디버그) < INFO(정보) < WARN(경고) < ERROR(오류) < FATAL(치명적))
특정한 로그 전달자를 특정 등급으로 설정하면 그 전달자에서 발생하는 로그 메시지 중 해당 등급 이상의 메시지만 출력됨
예) <logger name="com.example" level="INFO" /> 
    -> com.example 패키지에서 INFO, WARN, ERROR, FATAL 등급의 로그 메시지만 출력되고, TRACE와 DEBUG는 무시



 -->

    <!-- 콘솔 출력 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] 📝 %-5level %logger{36} - %msg%n</pattern>
            <!-- <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} [req:%X{requestId:-}] - %msg%n</pattern> -->
        </encoder>
    </appender>

    <!-- 파일 출력 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${APP_LOG}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/app-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] 📝 %-5level %logger{36} - %msg%n</pattern>
            <!-- <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} [req:%X{requestId:-}] - %msg%n</pattern> -->
        </encoder>
    </appender>

    <logger name="p6spy" level="info"/>

    <logger name="kr.or.ddit" level="info" additivity="false">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
</configuration>